Redirect 301 /index_et.htm http://www.metratek.com/elizabeth_tarr
Redirect 301 /why_therapy_et.htm http://www.metratek.com/elizabeth_tarr#why
Redirect 301 /services_provided_et.htm http://www.metratek.com/elizabeth_tarr#services
Redirect 301 /what_to_expect_et.htm http://www.metratek.com/elizabeth_tarr#expectations
Redirect 301 /experience_et.htm http://www.metratek.com/elizabeth_tarr#experience
Redirect 301 /fees_et.htm http://www.metratek.com/elizabeth_tarr#fees
