:root {
	--topbar-color: #e9ebef;
	--sidebar-color: #143d65;
	--background-color: #808080;
}

.navbar {
	background-color: var(--topbar-color);
}

html, body {
	background-color: var(--background-color);
	height: 100%;
}

body > div {
	background-color: white;
}

body > div > img {
	width: 100%;
}

.brand {
	font-size: 24px;
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
}